<section class="block">
  <h2 class="block__heading">Heading</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto error ex
    officiis dolor aspernatur expedita a nostrum culpa tenetur! Necessitatibus
    quis porro aliquid alias. Praesentium voluptatum ullam doloremque est hic?
  </p>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto error ex
        officiis dolor aspernatur expedita a nostrum culpa tenetur!
        Necessitatibus quis porro aliquid alias. Praesentium voluptatum ullam
        doloremque est hic?
      </p>
    </header>
  </div>
</section>
